@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: url(piggybank.jpg);
}

button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding: 2px;

}