@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: url(piggybank.jpg);
}

button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding: 2px;

}

.deleteBtn {
    margin-left: 5px;
}

.item-container {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;

}

h2 {
    display: flex;
    padding-top: 15px;
}
